name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.0"

      - name: build
        run: go build -v ./...

      - name: test
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: go test -v ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: "1.24.4"

      - name: lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
